<div class="container mt-4">
    <div class="row">
      <div class="col-lg-8">
        <h1>Proyecto de Tabla de Biodiversidad</h1>
        <p>¡Bienvenidos a nuestro proyecto de tabla de biodiversidad! Somos Alex Varela y Victor Piñana, y nuestro objetivo es crear una herramienta útil para documentar y analizar la biodiversidad en Catalunya.</p>
        <p>La tabla de biodiversidad incluirá información sobre especies animales y vegetales, así como información sobre los ecosistemas en los que se encuentran. Esperamos que esta herramienta sea útil para los científicos, investigadores, educadores y otros interesados en el estudio de la biodiversidad.</p>
      </div>
      <div class="col-lg-4">
        <img src="https://www.sostenibilidad.com/media/816423/planeta-tierra-biodiversidad-animales-fauna-jirafa-elefante-tigre-leon-gorila.jpg" alt="Biodiversity" class="img-fluid">
      </div>
    </div>
  </div>
