<div class="container">
    <h3 class="title form ">Formulario de registro</h3> 
    <form [formGroup]="myForm" class="form" (ngSubmit)="submit()">
        <p>Username:
            <input class="form-control" type="text" formControlName="username">
            <span class="red-font" *ngIf="this.myForm.get('username')?.errors?.['required'] && 
                                                                            this.myForm.get('username')?.touched">* El username es obligatorio
            </span>

            <span class="red-font" *ngIf="this.myForm.get('username')?.errors?.['minlength'] && 
                                                                            this.myForm.get('username')?.touched">*Minimo mas de seis letras
            </span>

            <span class="red-font" *ngIf="this.myForm.get('username')?.errors?.['pattern'] &&
                                                                             this.myForm.get('username')?.touched">*Solo letras
            </span>
        </p>

        <p>Correo:
            <input type="text" class="form-control" formControlName="correo">
            <span class="red-font" *ngIf="this.myForm.get('correo')?.errors?.['required'] && this.myForm.get('correo')?.touched">
                *El correo es obligatiorio 
            </span>

            <span class="red-font" *ngIf="this.myForm.get('correo')?.errors?.['pattern'] && this.myForm.get('correo')?.touched">
                *Formato del correo incorrecto
            </span>
        </p>

        <p>Nombre Completo:
            <input type="text" class="form-control" formControlName="fullName">
            <span class="red-font" *ngIf="this.myForm.get('fullName')?.errors?.['required'] && this.myForm.get('tel')?.touched">
                *Escribe tu nombre completo 
            </span>
        </p>

        <p>Telefono:
            <input type="text" class="form-control" formControlName="tel">
            <span class="red-font" *ngIf="this.myForm.get('tel')?.errors?.['required'] && this.myForm.get('tel')?.touched">
                *El telefono 
            </span>
        </p>
        <p>Contraseña:
            <input type="text" class="form-control" formControlName="password">
            <span class="red-font" *ngIf="this.myForm.get('password')?.errors?.['required'] && this.myForm.get('password')?.touched">
                *la contraseña es obligatoria
            </span>
            <span class="red-font" *ngIf="this.myForm.get('password')?.errors?.['minlength'] && this.myForm.get('password')?.touched">
                *minimo 8 caracteres
            </span>
        </p>
        
        <button class="btn btn-primary" [disabled]="myForm.invalid" type="submit">Enviar</button>
    </form>
    <div class="green-font">
        {{result}}
    </div>
</div>