.inline
{
    display: inline-block;
}
.margin
{
    margin: auto;
}
.btn {
    margin-left:  5px;
    margin-right: 5px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}