<div class="container">
    <h3 class="title form">Modificar animal</h3>
    <form [formGroup]="animalForm">
      <p>
        <label>ID:</label>
        <input type="number" readonly class="form-control" formControlName="id">
      </p>
      <p>
        <label>Grupo:</label>
        <input type="text" class="form-control" formControlName="grup">
      </p>
      <p>
        <label>Familia:</label>
        <input type="text" class="form-control" formControlName="familia">
      </p>
      <p>
        <label>Especie:</label>
        <input type="text" class="form-control" formControlName="especie">
      </p>
      <p>
        <label>Origen:</label>
        <input type="text" class="form-control" formControlName="origen">
      </p>
      <p>
        <label>Endemismo:</label>
        <input type="text" class="form-control" formControlName="endemisme">
      </p>
      <p>
        <label>Ambiente:</label>
        <input type="text" class="form-control" formControlName="ambient">
      </p>
      <button class="btn btn-primary" (click)="onSubmit()" type="submit" [disabled]="animalForm.invalid">Guardar</button>
    </form>
    <p class="green-font">{{ result }}</p>
  </div>
  